#invalid-input {
  display: none;
  background-color: rgb(158, 29, 29);
  padding: 5px 20px;
  margin: auto;
  border-radius: 4px;
  max-width: 500px;
  margin: 0px 30px;
}

#invalid-input h4 {
  color: white;
  text-align: center;
  padding: 0rem 2rem;
}
